## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN','NAME'],1)
application_df.head()

<ipython-input-2-5c56ed54bee3>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  application_df = application_df.drop(['EIN','NAME'],1)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts < 5].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
T12         27
T2          16
Other       11
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [13]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts > 15]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
Name: CLASSIFICATION, dtype: int64

In [15]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 20].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
Other      207
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
Name: CLASSIFICATION, dtype: int64

In [16]:
# Convert categorical data to numeric with `pd.get_dummies`
df_application_dummies = pd.get_dummies(application_df)

In [17]:
# Split our preprocessed data into our features and target arrays
y = df_application_dummies['IS_SUCCESSFUL'].values
X = df_application_dummies.drop(['IS_SUCCESSFUL'],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=33)

<ipython-input-17-f770a850e3a4>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = df_application_dummies.drop(['IS_SUCCESSFUL'],1).values

In [18]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [25]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# Adding hidden layers. 
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  99
hidden_nodes_layer2 =  42
hidden_nodes_layer3 =  33
hidden_nodes_layer4 =  9

nn = tf.keras.models.Sequential()

# First hidden layer
# Changing activation method from relu to tanh, selu, para_relu
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
# Changing activation method from relu to 
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="selu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 99)                6336

 dense_6 (Dense)             (None, 42)                4200

 dense_7 (Dense)             (None, 33)                1419

 dense_8 (Dense)             (None, 9)                 306

 dense_9 (Dense)             (None, 1)                 10

=================================================================
Total params: 12,271
Trainable params: 12,271
Non-trainable params: 0
_________________________________________________________________

In [26]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer="adam", metrics=["accuracy"])

In [28]:
# Train the model

fit_model = nn.fit(X_train_scaled,y_train,epochs=103)

Epoch 1/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7364
Epoch 2/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7355
Epoch 3/103
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7365
Epoch 4/103
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7362
Epoch 5/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7365
Epoch 6/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7369
Epoch 7/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7369
Epoch 8/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7362
Epoch 9/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7377
Epoch 10/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7374
Epoch 11/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7379
Epoch 12/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7384
Epoch 13/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7379
Epoch 14/103
804/804 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7382
Epoch 15/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7385
Epoch 16/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7378
Epoch 17/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7377
Epoch 18/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7383
Epoch 19/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7391
Epoch 20/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7380
Epoch 21/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7400
Epoch 22/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7393
Epoch 23/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5327 - accuracy: 0.7403
Epoch 24/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5319 - accuracy: 0.7400
Epoch 25/103
804/804 [==============================] - 1s 2ms/step - loss: 0.5322 - accuracy: 0.7400
Epoch 26/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7398
Epoch 27/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7392
Epoch 28/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7398
Epoch 29/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5318 - accuracy: 0.7399
Epoch 30/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5312 - accuracy: 0.7407
Epoch 31/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5315 - accuracy: 0.7400
Epoch 32/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5310 - accuracy: 0.7397
Epoch 33/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5304 - accuracy: 0.7411
Epoch 34/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5311 - accuracy: 0.7400
Epoch 35/103
804/804 [==============================] - 1s 2ms/step - loss: 0.5304 - accuracy: 0.7405
Epoch 36/103
804/804 [==============================] - 1s 2ms/step - loss: 0.5302 - accuracy: 0.7405
Epoch 37/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5305 - accuracy: 0.7404
Epoch 38/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5304 - accuracy: 0.7408
Epoch 39/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5300 - accuracy: 0.7399
Epoch 40/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5302 - accuracy: 0.7396
Epoch 41/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5302 - accuracy: 0.7401
Epoch 42/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5294 - accuracy: 0.7410
Epoch 43/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5291 - accuracy: 0.7409
Epoch 44/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5297 - accuracy: 0.7402
Epoch 45/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5291 - accuracy: 0.7408
Epoch 46/103
804/804 [==============================] - 1s 2ms/step - loss: 0.5291 - accuracy: 0.7409
Epoch 47/103
804/804 [==============================] - 1s 2ms/step - loss: 0.5294 - accuracy: 0.7412
Epoch 48/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5293 - accuracy: 0.7418
Epoch 49/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5287 - accuracy: 0.7416
Epoch 50/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5292 - accuracy: 0.7410
Epoch 51/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5288 - accuracy: 0.7411
Epoch 52/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5286 - accuracy: 0.7409
Epoch 53/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5293 - accuracy: 0.7409
Epoch 54/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5286 - accuracy: 0.7409
Epoch 55/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5289 - accuracy: 0.7414
Epoch 56/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5280 - accuracy: 0.7412
Epoch 57/103
804/804 [==============================] - 1s 2ms/step - loss: 0.5282 - accuracy: 0.7415
Epoch 58/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5282 - accuracy: 0.7416
Epoch 59/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5280 - accuracy: 0.7413
Epoch 60/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5293 - accuracy: 0.7412
Epoch 61/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5275 - accuracy: 0.7415
Epoch 62/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5273 - accuracy: 0.7415
Epoch 63/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5284 - accuracy: 0.7412
Epoch 64/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5276 - accuracy: 0.7413
Epoch 65/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5282 - accuracy: 0.7418
Epoch 66/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5272 - accuracy: 0.7416
Epoch 67/103
804/804 [==============================] - 1s 2ms/step - loss: 0.5275 - accuracy: 0.7416
Epoch 68/103
804/804 [==============================] - 1s 2ms/step - loss: 0.5280 - accuracy: 0.7416
Epoch 69/103
804/804 [==============================] - 1s 2ms/step - loss: 0.5271 - accuracy: 0.7418
Epoch 70/103
804/804 [==============================] - 1s 2ms/step - loss: 0.5271 - accuracy: 0.7419
Epoch 71/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5271 - accuracy: 0.7420
Epoch 72/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5268 - accuracy: 0.7423
Epoch 73/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5270 - accuracy: 0.7423
Epoch 74/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5274 - accuracy: 0.7419
Epoch 75/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5275 - accuracy: 0.7414
Epoch 76/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5276 - accuracy: 0.7415
Epoch 77/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5265 - accuracy: 0.7421
Epoch 78/103
804/804 [==============================] - 1s 2ms/step - loss: 0.5265 - accuracy: 0.7420
Epoch 79/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5266 - accuracy: 0.7418
Epoch 80/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5276 - accuracy: 0.7420
Epoch 81/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5272 - accuracy: 0.7425
Epoch 82/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5267 - accuracy: 0.7418
Epoch 83/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5263 - accuracy: 0.7420
Epoch 84/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5276 - accuracy: 0.7420
Epoch 85/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5272 - accuracy: 0.7420
Epoch 86/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5269 - accuracy: 0.7413
Epoch 87/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5264 - accuracy: 0.7415
Epoch 88/103
804/804 [==============================] - 1s 2ms/step - loss: 0.5263 - accuracy: 0.7422
Epoch 89/103
804/804 [==============================] - 1s 2ms/step - loss: 0.5261 - accuracy: 0.7423
Epoch 90/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5274 - accuracy: 0.7418
Epoch 91/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5258 - accuracy: 0.7425
Epoch 92/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5259 - accuracy: 0.7414
Epoch 93/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5256 - accuracy: 0.7407
Epoch 94/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5259 - accuracy: 0.7421
Epoch 95/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5257 - accuracy: 0.7428
Epoch 96/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5261 - accuracy: 0.7413
Epoch 97/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5262 - accuracy: 0.7424
Epoch 98/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5266 - accuracy: 0.7423
Epoch 99/103
804/804 [==============================] - 1s 2ms/step - loss: 0.5261 - accuracy: 0.7416
Epoch 100/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5263 - accuracy: 0.7428
Epoch 101/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5257 - accuracy: 0.7420
Epoch 102/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5261 - accuracy: 0.7411
Epoch 103/103
804/804 [==============================] - 1s 1ms/step - loss: 0.5257 - accuracy: 0.7418

In [29]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5926 - accuracy: 0.7331 - 322ms/epoch - 1ms/step
Loss: 0.5925719141960144, Accuracy: 0.7330612540245056

In [30]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')